<div [ngStyle]="{'background': config.fondo,
                 'padding': '20px',
                 'border': '5px solid black',
                 'border-color': config.color}">

  <h1>Wellcome to {{ title }}</h1>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['activo']">Home</a>
    &nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['activo']">Zapatillas</a>
    &nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['activo']">VideoJuego</a>
    &nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive]="['activo']">Cursos</a>
    &nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['activo']">Externo</a>
    &nbsp;
    <a [routerLink]="['/contacto']" [routerLinkActive]="['activo']">Contacto</a>
  </nav>

  <hr>

  <!-- <button (click)="ocultarVideojuegos(true)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)="ocultarVideojuegos(false)" *ngIf="!mostrar_videojuegos">Mostrar</button>

  <videojuego *ngIf="mostrar_videojuegos"></videojuego> -->

  <!-- <zapatillas></zapatillas> -->

  <!-- <app-cursos></app-cursos> -->

  <router-outlet></router-outlet>

</div>